[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/demo-registry
	shallow = true
[submodule "curl"]
	path = curl
	url = https://github.com/jeroen/curl
	shallow = true
[submodule "sass"]
	path = sass
	url = https://github.com/rstudio/sass
	shallow = true
[submodule "haven"]
	path = haven
	url = https://github.com/tidyverse/haven
	shallow = true
[submodule "RcppParallel"]
	path = RcppParallel
	url = https://github.com/rcppcore/rcppparallel
	shallow = true
[submodule "RDieHarder"]
	path = RDieHarder
	url = https://github.com/eddelbuettel/rdieharder
	shallow = true
[submodule "stringdist"]
	path = stringdist
	url = https://github.com/markvanderloo/stringdist
	shallow = true
	subdir = pkg
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	shallow = true
	subdir = r
