[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/demo-registry
	shallow = true
	branch = HEAD
[submodule "jose"]
	path = jose
	url = https://github.com/jeroen/jose
	shallow = true
	branch = v0.2
[submodule "curl"]
	path = curl
	url = https://github.com/jeroen/curl
	shallow = true
	branch = v4.2
[submodule "stringdist"]
	path = stringdist
	url = https://github.com/markvanderloo/stringdist
	shallow = true
	subdir = pkg
[submodule "rmarkdown"]
	path = rmarkdown
	url = https://github.com/rstudio/rmarkdown
	shallow = true
[submodule "tinytex"]
	path = tinytex
	url = https://github.com/yihui/tinytex
	shallow = true
