[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/demo-registry
	branch = HEAD
[submodule "Rmpfr"]
	path = Rmpfr
	url = https://github.com/r-forge/rmpfr
	subdir = pkg
[submodule "curl"]
	path = curl
	url = https://github.com/jeroen/curl
	branch = v4.3.2
[submodule "ggseg"]
	path = ggseg
	url = https://github.com/LCBC-UiO/ggseg
	registered = false
[submodule "ggseg3d"]
	path = ggseg3d
	url = https://github.com/LCBC-UiO/ggseg3d
	registered = false
[submodule "ggsegHO"]
	path = ggsegHO
	url = https://github.com/ggseg/ggsegHO
[submodule "gmp"]
	path = gmp
	url = https://github.com/cran/gmp
[submodule "igraph"]
	path = igraph
	url = https://github.com/jeroen/rigraph
[submodule "jose"]
	path = jose
	url = https://github.com/r-lib/jose
	branch = v1.2.0
[submodule "luna"]
	path = luna
	url = https://github.com/jeroen/luna
[submodule "lwgeom"]
	path = lwgeom
	url = https://github.com/jeroen/lwgeom
[submodule "rJava"]
	path = rJava
	url = https://github.com/jeroen/rJava
[submodule "stringdist"]
	path = stringdist
	url = https://github.com/markvanderloo/stringdist
	subdir = pkg
[submodule "sys"]
	path = sys
	url = https://github.com/jeroen/sys
